

input[type="checkbox"]#menu-toggle {
    display: none;                    
  }
  .menuLabel {
    position: fixed;
    top: .5em;
    left: .5em;
    width: 1.6em;
    height: 1.6em;
    font-size: 1.5em;
    text-align: center;
    color: rgb(6, 5, 5);
    background-color: rgba(40, 191, 205, 0.85);
    border-radius: 50%;
  
    transition: all .4s ease;
    z-index: 999;
  }
  #menu-toggle:checked + .menuLabel {
    transform: translate(-10px, -3px) rotate(-90deg) ; /* Standard syntax */
    transition: all .5s ease;
  }
  #menu-toggle:checked ~ .topmenu {
    position: fixed;
    top:3em;
    left: 0;
    z-index: 980;
    transition: all .5s ease;
  }
  .topmenu {
    display: block;
    position: fixed;
    top: 3em;
    left: -40em; /*  ath! er fyrir utan vafrann ;*/
    z-index: 980;
    padding: 0;
    margin: 0;
    background-color: rgb(35, 227, 244);
    transition: all .5s ease;

  }
  
  .topmenu a {
    display: block;     
    font-size: .9em;
    color: rgb(7, 7, 7);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 1em;
    margin: 0;
    margin-right: 1em;
    letter-spacing: 2px;
    border-bottom: 1px solid #00BFFF;;
  }
  
  .topmenu a:hover,
  .topmenu a:active,
  .topmenu a:focus,
  .logo a:hover {
    background-color: rgb(23, 216, 233);;
    color: #030303;
    margin-bottom: 0;
    transition: all .3s ease;
  } 
  .topmenu a:current {
    color: rgb(0, 0, 0);
    size: 2em;
  }
  .topnav {
    background-color: #00BFFF;
  }
  .topnav p {
    margin: 0;
    padding: .4em 0;
    color: #000000;
    letter-spacing: .1em;
    text-align: center;
    padding-left: 1em;
  }
  
  @media screen and (min-width: 48em) {
    .menu-button {
      display: none;
    }
    .topmenu {
      position: fixed;
      z-index: 2;
      top:0;
      left: 0;
      width: 100%;
      justify-content: end;
      align-items:flex-end ;
  }
  }
  
  @media screen and (min-width: 60em) {
    .topnav {
      display: grid;
      grid-template-columns: 1fr 4fr;
    }
    .topmenu {
      display: flex;
      flex-flow: row;   
      position: relative;
      top:0;
      left: 1em;
      width: 100%;
      background-color: transparent;
      transition: none;
    }
    .topmenu a {
      padding: .6em 1.5em .5em 1.5em;
      border-bottom: none;
      background-color: transparent;
    }
  }
  
  